# Airline data in long and wide formats

In [1]:
import pandas as pd

# Creating a long-format dataset

long_df = pd.DataFrame({
    'Airline': ['Delta', 'Delta', 'Delta', 'United', 'United', 'United'],
    'Month': ['2024-01', '2024-02', '2024-03', '2024-01', '2024-02', '2024-03'],
    'Passengers': [100, 120, 130, 90, 110, 125]
})

display(long_df)

  Airline    Month  Passengers
0   Delta  2024-01         100
1   Delta  2024-02         120
2   Delta  2024-03         130
3  United  2024-01          90
4  United  2024-02         110
5  United  2024-03         125

## Wide

In [2]:
# Convert to wide format

wide_df = long_df.pivot(index='Airline', columns='Month', values='Passengers')

# Reset column names for clarity

wide_df = wide_df.reset_index()
wide_df.columns.name = None  # Remove extra index name

display(wide_df)

  Airline  2024-01  2024-02  2024-03
0   Delta      100      120      130
1  United       90      110      125

## Long

In [3]:
# Return to a long format

long_again = wide_df.melt(id_vars=['Airline'], var_name='Month', value_name='Passengers')
display(long_again)

  Airline    Month  Passengers
0   Delta  2024-01         100
1  United  2024-01          90
2   Delta  2024-02         120
3  United  2024-02         110
4   Delta  2024-03         130
5  United  2024-03         125